@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="_comment">Comment</label>
            <input type="text" class="form-control" asp-for="_comment" />
        </div>
        <button class="btn btn-secondary" type="submit">Predict</button>
        @if (Model.ShowPrediction)
        {
            <div>
                <h4>Sentiment: @Model.ModelOutput.Prediction</h4>
            </div>
        }
    </form>
</div>